<div class="container-fluid">

  <!-- Costumer information -->
{{user.name}}
{{user.role}}
{{user._id}}

<div *ngIf="user.role === 'HELPER'">HELPEEEER</div>

<div *ngIf="user.role === 'CUSTOMER'">CUSTOMERRRRRR</div>


<img [src]='user.profilePic'>
      <tabset>

        <tab heading="Your Information">

          <h4>Here is your information</h4>
          <h5>{{user.name}}</h5>
          <h5>{{user.surname}}</h5>
          <h5>{{user.email}}</h5>
          <h5>{{user.address}}</h5>

        </tab>
        <tab heading="Edit Profile">

          <h4>Edit your information</h4>

          <form>
            <fieldset>
              <legend> User info </legend>
              <label> Name </label>
              <input type="text" [(ngModel)]="newUser.name" name="name" />

              <label> Surname </label>
              <input type="text" [(ngModel)]="newUser.surname" name="surname" />

              <label> Phone Number </label>
              <input type="text" [(ngModel)]="newUser.phoneNumber" name="phoneNumber" />


              <input value="user._id" name="id" />
              <input type="file" name="file" ng2FileSelect [uploader]="uploader" />
              <input [(ngModel)]="newUser._id" name="id" />
            </fieldset>
            <button (click)="submit()"> Edit </button>
          </form>

        </tab>

        <tab heading="Change your status">

          <h4>Change</h4>

        </tab>

      </tabset>


</div>
