<div class="container-fluid">

  <tabset>

    <tab heading="Received">

      <table class="table table-hover">
        <thead>
          <tr>
            <td>
              <b>Messages to Read</b>
            </td>
          </tr>
        </thead>
        <tr>
          <td>
            From: <b> UserName </b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; | Subject: <b>Wathever about this.</b> <span class="small">Lorem ipsum dolor sit amet, consectetur adipisicing elit...</span><span style="float:right">at: <b>20:45h 23/02/2017</b></span>
          </td>
        </tr>
        <tr>
          <td>
            From: <b> UserName </b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; | Subject: <b>Wathever about this.</b> <span class="small">Lorem ipsum dolor sit amet, consectetur adipisicing elit...</span><span style="float:right">at: <b>20:45h 23/02/2017</b></span>
          </td>
        </tr>
        <tr>
          <td>
            From: <b> UserName </b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; | Subject: <b>Wathever about this.</b> <span class="small">Lorem ipsum dolor sit amet, consectetur adipisicing elit...</span><span style="float:right">at: <b>20:45h 23/02/2017</b></span>
          </td>
        </tr>
      </table>

      <table class="table table-hover">
        <thead>
          <tr>
            <td>
              <b>Read Messages</b>
            </td>
          </tr>
        </thead>
        <tr>
          <td>
            From: <b> UserName </b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; | Subject: <b>Wathever about this.</b> <span class="small">Lorem ipsum dolor sit amet, consectetur adipisicing elit...</span><span style="float:right">at: <b>20:45h 23/02/2017</b></span>
          </td>
        </tr>
        <tr>
          <td>
            From: <b> UserName </b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; | Subject: <b>Wathever about this.</b> <span class="small">Lorem ipsum dolor sit amet, consectetur adipisicing elit...</span><span style="float:right">at: <b>20:45h 23/02/2017</b></span>
          </td>
        </tr>
        <tr>
          <td>
            From: <b> UserName </b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; | Subject: <b>Wathever about this.</b> <span class="small">Lorem ipsum dolor sit amet, consectetur adipisicing elit...</span><span style="float:right">at: <b>20:45h 23/02/2017</b></span>
          </td>
        </tr>
        <tr>
          <td>
            From: <b> UserName </b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; | Subject: <b>Wathever about this.</b> <span class="small">Lorem ipsum dolor sit amet, consectetur adipisicing elit...</span><span style="float:right">at: <b>20:45h 23/02/2017</b></span>
          </td>
        </tr>
        <tr>
          <td>
            From: <b> UserName </b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; | Subject: <b>Wathever about this.</b> <span class="small">Lorem ipsum dolor sit amet, consectetur adipisicing elit...</span><span style="float:right">at: <b>20:45h 23/02/2017</b></span>
          </td>
        </tr>
      </table>

    </tab>
    <tab heading="Sent">

      <table class="table table-hover">
        <thead>
          <tr>
            <td>
              <b>Messages Sent</b>
            </td>
          </tr>
        </thead>
        <tr>
          <td>
            From: <b> UserName </b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; | Subject: <b>Wathever about this.</b> <span class="small">Lorem ipsum dolor sit amet, consectetur adipisicing elit...</span><span style="float:right">at: <b>20:45h 23/02/2017</b></span>
          </td>
        </tr>
        <tr>
          <td>
            From: <b> UserName </b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; | Subject: <b>Wathever about this.</b> <span class="small">Lorem ipsum dolor sit amet, consectetur adipisicing elit...</span><span style="float:right">at: <b>20:45h 23/02/2017</b></span>
          </td>
        </tr>
        <tr>
          <td>
            From: <b> UserName </b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; | Subject: <b>Wathever about this.</b> <span class="small">Lorem ipsum dolor sit amet, consectetur adipisicing elit...</span><span style="float:right">at: <b>20:45h 23/02/2017</b></span>
          </td>
        </tr>
        <tr>
          <td>
            From: <b> UserName </b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; | Subject: <b>Wathever about this.</b> <span class="small">Lorem ipsum dolor sit amet, consectetur adipisicing elit...</span><span style="float:right">at: <b>20:45h 23/02/2017</b></span>
          </td>
        </tr>
        <tr>
          <td>
            From: <b> UserName </b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; | Subject: <b>Wathever about this.</b> <span class="small">Lorem ipsum dolor sit amet, consectetur adipisicing elit...</span><span style="float:right">at: <b>20:45h 23/02/2017</b></span>
          </td>
        </tr>
      </table>

    </tab>

  </tabset>

</div>
