
<h2>{{ user.name }}</h2>
<h3>{{ user.surname }}</h3>
<h3>{{ user.slogan }}</h3>
<p>{{ user.description }}</p>
<br>
<h4>{{ user.address }}</h4>
<h3>{{ user.price }}</h3>
<h3>{{ user.status }}</h3>
<h3>{{ user.speciality }}</h3>
<h3>{{ user._id }}</h3>

<br>
<button class="btn btn-primary" (click)="lgModal.show()">Contact {{ user.name }}</button>


<div bsModal #lgModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left">Contact {{ user.name }} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ user.price }}€ per hour</h4>
        <button type="button" class="close pull-right" (click)="lgModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <label>When do you need help</label><br>
          <div class="form-inline">
            Date: <input class="form-control" [(ngModel)]="newBooking.date" type="date" name="date">
            Time: <input class="form-control" [(ngModel)]="newBooking.starttime" type="time" name="starttime"><br>
          </div><br>
          <label> Select the field where you need help: </label>
          <select (change)="showField($event.target.value)" [(ngModel)]="newBooking.mainSubject" class="form-control" name="mainSubject"id="search-method">
            <option>Select Option</option>
            <option *ngFor="let field of user.speciality"  [ngValue]="field" >{{field}}</option>
          </select><br>

          <div *ngIf="field === undefined">
            <alert type="info">
              You need to select a field of specialization
            </alert>
          </div>

          <div *ngIf="field === 'Computer'">
            <label> Choose a specialization: </label>
            <select class="form-control" id="search-method" [(ngModel)]="newBooking.subSubject" name="subSubject">
              <option *ngFor="let field of ['Hardware', 'Software', 'Windows', 'Apple', 'Peripherals', 'Hard Drive']" [ngValue]="field" >{{field}}</option>
            </select><br>
          </div>
          <div *ngIf="field === 'Internet'">
            <label> Choose a specialization: </label>
            <select class="form-control" id="search-method" [(ngModel)]="newBooking.subSubject" name="subSubject">
              <option *ngFor="let field of ['Wi-fi', 'Ethernet', 'Router']" [ngValue]="field" >{{field}}</option>
            </select><br>
          </div>
          <div *ngIf="field === 'Phone'">
            <label> Choose a specialization: </label>
            <select class="form-control" id="search-method" [(ngModel)]="newBooking.subSubject" name="subSubject">
              <option *ngFor="let field of ['Android', 'Iphone']"  [ngValue]="field" >{{field}}</option>
            </select><br>
          </div>
          <div *ngIf="field === 'TV'">
            <label> Choose a specialization: </label>
            <select class="form-control" id="search-method" [(ngModel)]="newBooking.subSubject" name="subSubject">
              <option *ngFor="let field of ['Channel tunning', 'Pay-per-view Services', 'Smart TV']" [ngValue]="field" >{{field}}</option>
            </select><br>
          </div>

          <label> Subject</label>
          <input type="text" class="form-control" [(ngModel)]="newBooking.issue" name="issue"><br>

          <label> Explain your problem <span class="small">(Please provide as many details as possible)</span> </label>
          <textarea class="form-control" rows="9" [(ngModel)]="newBooking.message" name="message"></textarea><br>

          <!-- <label> Upload a picture of your problem if needed: </label>
          <input type="file" name="file" ng2FileSelect [uploader]="uploader" /> -->
          <br>
          <input  class="form-control"  [(ngModel)]="newBooking.helper" name="helper"><br>
          <button type="submit" class="btn btn-primary" (click)="booking()">Book {{ user.name }}</button>

        </form>
      </div>
    </div>
  </div>
</div>
